body {
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0px;
    padding: 20px;
}

hr {
    background-color: white;
    border-bottom: 2px solid black;
    border: none;
    height: 1px;

}

.custom-hr {
    border-color: rgb(0, 0, 0);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 100%;
}

pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    overflow-x: auto;
    padding: 10px;
}

code {
    background: #eef;
    border-radius: 4px;
    font-family: monospace;
    padding: 2px 4px;
}

h1,
h2,
h3 {
    border-bottom: 2px solid black;
    width: auto;
    color: #8B5DFF;
    font-family: Cambria;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding: -10px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
}

.imgborder {
    border: 5px solid black;
    /* Black border */
    border-radius: 100%;
    /* Rounded corners */
}

.thinline {
    background-color: #8B5DFF;
    border: 0;
    height: 1px;
    margin-top: 10px;

}

.basic-table {
    border: 1px solid #996e6e;
    border-radius: 15px;
    overflow: hidden;
    flex: 1;
    padding: 10px;
    background-color: #f4f4f4;
    text-align: center;
    margin: 5px;/
}

.basic-table th, .basic-table td {
    border: none;
    /* Removes individual cell borders */
    width: auto;
}